@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 400;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-It.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-ExtraLight.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 200;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-ExtraLightIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Light.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 300;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-LightIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Semibold.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 600;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-SemiboldIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 700;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-BoldIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 900;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Black.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 900;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-BlackIt.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 250;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 250;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 300;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black.woff")
            format("woff");
}
:root {
    --percentage: 100%;
    --sourceCodePro: "Source code Pro";
    --promivaNova: "Proxima Nova";
    --time: 1s;
    --color1: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0.1)
    );
    --color2: rgb(
        calc(var(--percentage) * 1),
        calc(var(--percentage) * (19 / 20)),
        calc(var(--percentage) * (2 / 3))
    );
    --color3: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0.2)
    );
    --color4: rgb(
        calc(var(--percentage) / 3),
        calc(var(--percentage) / 3),
        calc(var(--percentage) / 3)
    );
}
body {
    background-color: var(--color1);
    font-family: sans-serif;
}
#Homepage header #button a {
    cursor: pointer;
    color: var(--color2);
    background-color: var(--color1);
    font-family: var(--sourceCodePro);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: calc(var(--width) / 1000);
    transition: calc(var(--time) / 2);
}
#Homepage header #button a:hover {
    color: var(--color4);
}
#Homepage header #button a::before {
    content: "";
    background: var(--color2);
    transition: calc(var(--time) / 2);
    transform: scale(0);
}
#Homepage header #button a:hover::before {
    transform: scale(1);
    transition-delay: calc(var(--time) / 2);
}
#Homepage header #button a span {
    background: var(--color2);
    pointer-events: none;
    transition: calc(var(--time) / 2) ease-in-out;
    transition-delay: calc(var(--time) / 4);
}
#Homepage header #button a:hover span {
    opacity: calc(var(--percentage) * 0);
    transition-delay: calc(var(--time) * 0);
}
.error404 header,
.error404 main {
    color: var(--color2);
    font-family: var(--promivaNova);
    text-align: center;
}
#About header nav div:nth-child(2) div a {
    color: var(--color2);
    text-decoration: none;
    font-family: var(--sourceCodePro);
}
#About header nav div:nth-child(2) div a:hover,
#About header nav div:nth-child(2) div a.active {
    background-color: var(--color4);
    color: var(--color2);
}
#About footer div a {
    color: var(--color4);
}
#About footer div a:hover {
    color: var(--color2);
}
#About main div div,
#About main div p {
    color: var(--color2);
    font-family: var(--promivaNova);
}
#About main div:nth-child(1) div:nth-child(3) {
    color: var(--color4);
}
