:root {
    --textSize: var(--percentage);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage header {
    height: calc(var(--height) / 10);
}
#Homepage header #button {
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Homepage header #button a {
    position: relative;
    padding: calc(var(--height) * 0.03) calc(var(--width) * 0.03);
    font-size: calc(var(--textSize) * 1.5);
    border: calc(var(--height) / 200) solid var(--color3);
    border-radius: calc(var(--height) / 50);
    text-shadow: 0 0 calc(var(--height) * 0.03) var(--color2);
    z-index: 1;
}
#Homepage header #button a:hover {
    border: calc(var(--height) / 200) solid var(--color4);
    box-shadow: 0 0 calc(var(--height) * 0) var(--color2);
}
#Homepage header #button a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percentage);
    height: var(--percentage);
    z-index: -1;
    border-radius: calc(var(--height) / 50);
}
#Homepage header #button a:hover::before {
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.12) var(--color2);
}
#Homepage header #button a span {
    position: absolute;
    border-radius: calc(var(--height) / 200);
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.04) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.1) var(--color2),
        0 0 calc(var(--height) * 0.2) var(--color2);
}
#Homepage header #button a span:nth-child(1),
#Homepage header #button a span:nth-child(3) {
    width: calc(var(--width) * (3 / 100));
    height: calc(var(--height) * (4 / 500));
}
#Homepage header #button a:hover span:nth-child(1),
#Homepage header #button a:hover span:nth-child(3) {
    transform: translateX(0);
}
#Homepage header #button a span:nth-child(2),
#Homepage header #button a span:nth-child(4) {
    width: calc(var(--width) * (1 / 300));
    height: calc(var(--height) * (8 / 100));
}
#Homepage header #button a:hover span:nth-child(2),
#Homepage header #button a:hover span:nth-child(4) {
    transform: translateY(0);
}
#Homepage header #button a span:nth-child(1) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    left: calc(var(--width) * -0.04);
    transform-origin: left;
}
#Homepage header #button a:hover span:nth-child(1) {
    left: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(3) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    right: calc(var(--width) * -0.04);
    transform-origin: right;
}
#Homepage header #button a:hover span:nth-child(3) {
    right: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(2) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    top: calc(var(--height) * -0.1);
    transform-origin: top;
}
#Homepage header #button a:hover span:nth-child(2) {
    top: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(4) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    bottom: calc(var(--height) * -0.1);
    transform-origin: bottom;
}
#Homepage header #button a:hover span:nth-child(4) {
    bottom: calc(var(--percentage) / 2);
}
.error404 header {
    height: calc(var(--height) / 17);
    font-size: calc(var(--textSize) * 2);
}
#About header,
#About header nav,
#About header nav div {
    height: calc(var(--height) / 20);
}
#About header nav {
    display: flex;
}
#About header nav div {
    width: calc(var(--width) / 2);
}
#About header nav div:nth-child(2) {
    display: flex;
}
#About header nav div:nth-child(2) div {
    width: calc(var(--width) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#About header nav div:nth-child(2) div a {
    padding: calc(var(--height) / 100) calc(var(--width) / 100);
}
#About footer {
    display: flex;
    height: calc(var(--height) / 20);
}
#About footer div {
    height: calc(var(--height) / 20);
    width: calc(var(--width) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#About footer div a {
    font-size: calc(var(--textSize) * 1.6);
}
#About main {
    height: calc(var(--height) * 0.9);
    display: flex;
}
#About main div {
    width: calc(var(--width) / 2);
}
#About main div:nth-child(1) div {
    padding-left: calc(var(--width) / 100);
    width: calc(var(--width) * 0.49);
    padding-top: calc(var(--height) / 25);
}
#About main div:nth-child(1) div:nth-child(1) {
    font-size: calc(var(--textSize) * 2);
}
#About main div:nth-child(1) div:nth-child(2),
#About main div:nth-child(1) div:nth-child(3) {
    padding-top: calc(var(--height) / 100);
}
#About main div p {
    margin: calc(var(--height) / 25) calc(var(--width) * 0);
    letter-spacing: calc(var(--width) / 1000);
}
