:root {
    --textSize: var(--percentage);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage header {
    height: calc(var(--height) / 10);
}
#Homepage header #button {
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Homepage header #button a {
    position: relative;
    padding: calc(var(--height) * 0.03) calc(var(--width) * 0.03);
    font-size: calc(var(--textSize) * 1.5);
    border: calc(var(--height) / 200) solid var(--color3);
    border-radius: calc(var(--height) / 50);
    text-shadow: 0 0 calc(var(--height) * 0.03) var(--color2);
    z-index: 1;
}
#Homepage header #button a:hover {
    border: calc(var(--height) / 200) solid var(--color4);
    box-shadow: 0 0 calc(var(--height) * 0) var(--color2);
}
#Homepage header #button a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percentage);
    height: var(--percentage);
    z-index: -1;
    border-radius: calc(var(--height) / 50);
}
#Homepage header #button a:hover::before {
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.12) var(--color2);
}
#Homepage header #button a span {
    position: absolute;
    border-radius: calc(var(--height) / 200);
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.04) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.1) var(--color2),
        0 0 calc(var(--height) * 0.2) var(--color2);
}
#Homepage header #button a span:nth-child(1),
#Homepage header #button a span:nth-child(3) {
    width: calc(var(--width) * (3 / 100));
    height: calc(var(--height) * (4 / 500));
}
#Homepage header #button a:hover span:nth-child(1),
#Homepage header #button a:hover span:nth-child(3) {
    transform: translateX(0);
}
#Homepage header #button a span:nth-child(2),
#Homepage header #button a span:nth-child(4) {
    width: calc(var(--width) * (1 / 300));
    height: calc(var(--height) * (8 / 100));
}
#Homepage header #button a:hover span:nth-child(2),
#Homepage header #button a:hover span:nth-child(4) {
    transform: translateY(0);
}
#Homepage header #button a span:nth-child(1) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    left: calc(var(--width) * -0.04);
    transform-origin: left;
}
#Homepage header #button a:hover span:nth-child(1) {
    left: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(3) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    right: calc(var(--width) * -0.04);
    transform-origin: right;
}
#Homepage header #button a:hover span:nth-child(3) {
    right: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(2) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    top: calc(var(--height) * -0.1);
    transform-origin: top;
}
#Homepage header #button a:hover span:nth-child(2) {
    top: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(4) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    bottom: calc(var(--height) * -0.1);
    transform-origin: bottom;
}
#Homepage header #button a:hover span:nth-child(4) {
    bottom: calc(var(--percentage) / 2);
}
.error404 header {
    height: calc(var(--height) / 17);
    font-size: calc(var(--textSize) * 2);
}
#About header,
#About header nav,
#About header nav div,
#Experience header,
#Experience header nav,
#Experience header nav div,
#Projects header,
#Projects header nav,
#Projects header nav div {
    height: calc(var(--height) / 20);
}
#About header nav,
#Experience header nav,
#Projects header nav {
    display: flex;
}
#About header nav div,
#Experience header nav div,
#Projects header nav div {
    width: calc(var(--width) / 2);
}
#About header nav div:nth-child(2),
#Experience header nav div:nth-child(2),
#Projects header nav div:nth-child(2) {
    display: flex;
}
#About header nav div:nth-child(2) div,
#Experience header nav div:nth-child(2) div,
#Projects header nav div:nth-child(2) div {
    width: calc(var(--width) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#About header nav div:nth-child(2) div a,
#Experience header nav div:nth-child(2) div a,
#Projects header nav div:nth-child(2) div a {
    padding: calc(var(--height) / 100) calc(var(--width) / 100);
}
#About footer,
#Experience footer,
#Projects footer {
    display: flex;
    height: calc(var(--height) / 20);
}
#About footer div,
#Experience footer div,
#Projects footer div {
    height: calc(var(--height) / 20);
    width: calc(var(--width) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#About footer div a,
#Experience footer div a,
#Projects footer div a {
    font-size: calc(var(--textSize) * 1.6);
}
#About main,
#Experience main,
#Projects main {
    height: calc(var(--height) * 0.9);
    display: flex;
}
#About main div,
#Experience main div,
#Projects main div {
    width: calc(var(--width) / 2);
}
#About main div:nth-child(1) div,
#Experience main div:nth-child(1) div,
#Projects main div:nth-child(1) div {
    padding-left: calc(var(--width) / 100);
    width: calc(var(--width) * 0.49);
    padding-top: calc(var(--height) / 25);
    height: auto;
}
#About main div:nth-child(1) div:nth-child(1),
#Experience main div:nth-child(1) div:nth-child(1),
#Projects main div:nth-child(1) div:nth-child(1) {
    font-size: calc(var(--textSize) * 2);
}
#About main div:nth-child(1) div:nth-child(2),
#About main div:nth-child(1) div:nth-child(3),
#Experience main div:nth-child(1) div:nth-child(2),
#Experience main div:nth-child(1) div:nth-child(3),
#Projects main div:nth-child(1) div:nth-child(2),
#Projects main div:nth-child(1) div:nth-child(3) {
    padding-top: calc(var(--height) / 100);
}
#About main div p {
    margin: calc(var(--height) / 25) calc(var(--width) * 0);
    letter-spacing: calc(var(--width) / 1000);
}
#Experience main div,
#Projects main div:nth-child(2) {
    width: calc(var(--width) / 2);
    height: calc(var(--height) * 0.9);
    overflow: auto;
    scrollbar-width: none;
}
#Experience main div::-webkit-scrollbar,
#Projects main div:nth-child(2)::-webkit-scrollbar {
    display: none;
}
#Experience main div:nth-child(2) div {
    display: flex;
    height: auto;
}
#Experience main div:nth-child(2) div div,
#Experience main div:nth-child(2) div div:nth-child(1) {
    font-size: var(--textSize);
}
#Experience main div:nth-child(2) div div {
    --container-width: calc(var(--width) / 4);
    width: var(--container-width);
    padding-left: calc(var(--width) * 0);
    display: block;
    height: auto;
}
#Experience main div:nth-child(2) div div:nth-child(1) {
    width: calc(var(--container-width) / 2);
    padding-top: calc(var(--height) / 50);
}
#Experience main div:nth-child(2) div div:nth-child(2) {
    width: calc(var(--container-width) * (3 / 2));
    padding: calc(var(--height) * 0);
}
#Experience main div:nth-child(2) div div:nth-child(2) div {
    --skill-used-width: calc(var(--container-width) * (3 / 2));
    width: calc(var(--container-width) * (3 / 2));
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(1) {
    height: calc(var(--height) / 30);
    padding-top: calc(var(--height) / 50);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(2) {
    padding-top: calc(var(--height) / 100);
    height: calc(var(--height) / 10);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(2) p {
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    letter-spacing: calc(var(--container-width) / 1000);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(3) {
    display: flex;
    height: calc(var(--height) / 15);
    justify-content: space-evenly;
    padding-top: calc(var(--height) / 50);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(3) div {
    width: auto;
    display: block;
    height: calc(var(--height) / 30);
    padding: calc(var(--height) / 60) calc(var(--skill-used-width) / 60);
    border-radius: calc(var(--height) / 30);
}
#Experience main div:nth-child(2) div:nth-child(1) div:nth-child(1) {
    padding-top: calc(var(--height) / 25);
}
#Experience
    main
    div:nth-child(2)
    div:nth-child(1)
    div:nth-child(2)
    div:nth-child(1) {
    padding-top: calc(var(--height) / 25);
}
#Experience
    main
    div:nth-child(2)
    div:nth-child(1)
    div:nth-child(2)
    div:nth-child(3)
    div {
    padding: calc(var(--height) / 60) calc(var(--skill-used-width) / 60);
}
#Experience main div:nth-child(2) div:nth-child(4) {
    display: block;
}
#Projects main div:nth-child(2) .project {
    height: auto;
}
#Projects main div:nth-child(2) .project a {
    width: calc(var(--width) / 2);
    display: block;
}
#Projects main div:nth-child(2) .project a div {
    display: flex;
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    border-radius: calc(var(--width) / 100);
    width: calc(var(--width) / 2);
}
#Projects main div:nth-child(2) .project a div div {
    --project-container-width: calc(var(--width) / 4);
    width: calc(var(--width) / 4);
}
#Projects main div:nth-child(2) .project a div div:nth-child(1) {
    justify-content: center;
    width: calc(var(--project-container-width) / 2);
}
#Projects main div:nth-child(2) .project a div div:nth-child(2) {
    width: calc(var(--project-container-width) * (3 / 2));
    display: block;
}
#Projects main div:nth-child(2) .project a div div:nth-child(1) img {
    margin-top: calc(var(--height) / 100);
    width: calc(var(--project-container-width) / 3);
    height: fit-content;
}
#Projects main div:nth-child(2) .project a div div:nth-child(2) div,
#Projects main div:nth-child(2) .project a div div:nth-child(2) p {
    font-size: calc(var(--textSize) / 2);
}
#Projects main div:nth-child(2) .project a div div:nth-child(2) div {
    display: block;
    width: calc(var(--project-container-width) * (3 / 2));
    height: calc(var(--height) / 30);
}
#Projects main div:nth-child(2) .project a div div:nth-child(2) p {
    margin: calc(var(--height) / 50) calc(var(--width) * 0);
    letter-spacing: calc(var(--width) / 1000);
    height: calc(var(--height) / 7);
}
#Projects main div:nth-child(2) #archive {
    height: calc(var(--height) / 25);
}
#Projects main div:nth-child(2) #archive a {
    font-size: var(--textSize);
}