:root {
    --textSize: calc(var(--percentage) * 1.331);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage header #button {
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Homepage header #button a {
    letter-spacing: calc(var(--width) / 1000);
    position: relative;
    padding: calc(var(--height) * 0.02) calc(var(--width) * 0.02);
    font-size: calc(var(--textSize) * 1.1);
    border: calc(var(--height) / 200) solid var(--color3);
    border-radius: calc(var(--height) / 50);
    text-shadow: 0 0 calc(var(--height) * 0.03) var(--color2);
    z-index: 1;
}
#Homepage header #button a:hover {
    border: calc(var(--height) / 200) solid var(--color4);
    box-shadow: 0 0 calc(var(--height) * 0) var(--color2);
}
#Homepage header #button a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percentage);
    height: var(--percentage);
    z-index: -1;
    border-radius: calc(var(--height) / 50);
}
#Homepage header #button a:hover::before {
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.12) var(--color2);
}
#Homepage header #button a span {
    position: absolute;
    border-radius: calc(var(--height) / 200);
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.04) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.1) var(--color2),
        0 0 calc(var(--height) * 0.2) var(--color2);
}
#Homepage header #button a span:nth-child(1),
#Homepage header #button a span:nth-child(3) {
    width: calc(var(--width) / 25);
    height: calc(var(--height) / 100);
}
#Homepage header #button a:hover span:nth-child(1),
#Homepage header #button a:hover span:nth-child(3) {
    transform: translateX(0);
}
#Homepage header #button a span:nth-child(2),
#Homepage header #button a span:nth-child(4) {
    width: calc(var(--width) / 63);
    height: calc(var(--height) / 40);
}
#Homepage header #button a:hover span:nth-child(2),
#Homepage header #button a:hover span:nth-child(4) {
    transform: translateY(0);
}
#Homepage header #button a span:nth-child(1) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    left: calc(var(--width) / -20);
    transform-origin: left;
}
#Homepage header #button a:hover span:nth-child(1) {
    left: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(3) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    right: calc(var(--width) / -20);
    transform-origin: right;
}
#Homepage header #button a:hover span:nth-child(3) {
    right: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(2) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    top: calc(var(--height) / -25);
    transform-origin: top;
}
#Homepage header #button a:hover span:nth-child(2) {
    top: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(4) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    bottom: calc(var(--height) / -25);
    transform-origin: bottom;
}
#Homepage header #button a:hover span:nth-child(4) {
    bottom: calc(var(--percentage) / 2);
}
#About header,
#About header nav,
#Experience header,
#Experience header nav,
#Projects header,
#Projects header nav {
    height: calc(var(--height) / 10);
}
#About header nav div,
#Experience header nav div,
#Projects header nav div {
    width: var(--width);
    display: flex;
    height: calc(var(--height) / 10);
}
#About header nav div:nth-child(1),
#Experience header nav div:nth-child(1),
#Projects header nav div:nth-child(1) {
    display: none;
}
#About header nav div div,
#Experience header nav div div,
#Projects header nav div div {
    width: calc(var(--width) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
#About header nav div div:nth-child(1),
#Experience header nav div div:nth-child(1),
#Projects header nav div div:nth-child(1) {
    display: flex;
}
#About header nav div div a,
#Experience header nav div div a,
#Projects header nav div div a {
    font-size: calc(var(--textSize) * 0.6561);
    padding: calc(var(--height) / 50) calc(var(--width) / 50);
}
#About footer,
#Experience footer,
#Projects footer,
#Archive footer {
    height: calc(var(--height) / 10);
    display: flex;
}
#About main,
#Experience main,
#Projects main,
#Archive main {
    --main-height: calc(var(--height) * 0.8);
    height: calc(var(--height) * 0.8);
}
#About footer div,
#Experience footer div,
#Projects footer div,
#Archive footer div {
    width: calc(var(--width) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#About footer div a,
#Experience footer div a,
#Projects footer div a,
#Archive footer div a {
    font-size: calc(var(--textSize) * 1);
}
#About main div:nth-child(1),
#Experience main div:nth-child(1),
#Projects main div:nth-child(1) {
    height: calc(var(--main-height) / 5);
}
#About main div:nth-child(1) div,
#Experience main div:nth-child(1) div,
#Projects main div:nth-child(1) div {
    font-size: calc(var(--textSize) * 0.531441);
    margin: calc(var(--height) / 100) calc(var(--width) * 0);
    padding-left: calc(var(--width) / 100);
}
#About main div:nth-child(1) div:nth-child(1),
#Experience main div:nth-child(1) div:nth-child(1),
#Projects main div:nth-child(1) div:nth-child(1) {
    font-size: calc(var(--textSize) * 1);
    height: auto;
}
#About main div:nth-child(1) div:nth-child(2),
#Experience main div:nth-child(1) div:nth-child(2),
#Projects main div:nth-child(1) div:nth-child(2) {
    height: auto;
}
#About main div:nth-child(2),
#Experience main div:nth-child(2),
#Projects main div:nth-child(2) {
    height: calc(var(--main-height) * 0.8);
    overflow: auto;
    scrollbar-width: none;
}
#About main div:nth-child(2)::-webkit-scrollbar,
#Experience main div:nth-child(2)::-webkit-scrollbar,
#Archive main table tbody::-webkit-scrollbar {
    display: none;
}
#About main div:nth-child(2) p {
    margin: calc(var(--height) / 50) calc(var(--width) * 0);
    padding-left: calc(var(--width) / 100);
    font-size: calc(var(--textSize) * 0.531441);
    letter-spacing: calc(var(--width) / 1000);
}
#Experience main div:nth-child(2) div {
    display: flex;
    height: auto;
}
#Experience main div:nth-child(2) div div {
    width: calc(var(--width) / 2);
    font-size: calc(var(--textSize) * 0.531441);
}
#Experience main div:nth-child(2) div div:nth-child(1) {
    font-size: calc(var(--textSize) * 0.43046721);
    width: calc(var(--width) * 0.4);
}
#Experience main div:nth-child(2) div div:nth-child(2) {
    display: block;
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    overflow: unset;
    width: calc(var(--width) * 0.6);
}
#Experience main div:nth-child(2) div div:nth-child(2) div {
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(1) {
    width: calc(var(--width) * 0.6);
    font-size: calc(var(--textSize) * 0.531441);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(2) p {
    margin: calc(var(--height) / 100) calc(var(--width) * 0);
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(3) {
    width: calc(var(--width) * 0.6);
    flex-wrap: wrap;
}
#Experience main div:nth-child(2) div div:nth-child(2) div:nth-child(3) div {
    display: block;
    width: auto;
    margin: calc(var(--height) / 100) calc(var(--width) / 100);
    padding: calc(var(--height) / 100) calc(var(--width) / 100);
    border-radius: calc(var(--height) / 50);
    font-size: calc(var(--textSize) * 0.6561);
}
#Experience main div:nth-child(2) div:nth-child(4) {
    align-items: center;
}
#Experience main div:nth-child(2) div:nth-child(4) a {
    font-size: calc(var(--textSize) * 0.531441);
}
#Projects main div:nth-child(2) .project {
    height: auto;
}
#Projects main div:nth-child(2) .project a {
    width: var(--width);
    display: block;
    height: auto;
}
#Projects main div:nth-child(2) .project a div {
    height: auto;
    width: auto;
    display: flex;
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
}
#Projects main div:nth-child(2) .project a div div {
    width: calc(var(--width) / 2);
    display: block;
}
#Projects main div:nth-child(2) .project a div div:nth-child(1) {
    --container-width: calc(var(--width) / 2);
}
#Projects main div:nth-child(2) .project a div div:nth-child(1) img {
    margin: calc(var(--height) * 0) calc(var(--container-width) / 10);
    width: calc(var(--container-width) * 0.8);
    height: auto;
}
#Projects main div:nth-child(2) .project a div div:nth-child(2) div {
    font-size: calc(var(--textSize) * 0.59049);
}
#Projects main div:nth-child(2) .project a div div:nth-child(2) p {
    margin: calc(var(--height) / 100) calc(var(--width) * 0);
    font-size: calc(var(--textSize) * 0.531441);
    letter-spacing: calc(var(--width) / 500);
}
#Projects main div:nth-child(2) #archive {
    font-size: calc(var(--textSize) * 0.6561);
    height: calc(var(--height) * 0.05);
    overflow: unset;
    display: flex;
    align-items: center;
}
#Archive header {
    --header-height: calc(var(--height) / 10);
    height: calc(var(--height) / 10);
}
#Archive header div {
    height: calc(var(--header-height) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Archive header div:nth-child(2) {
    font-size: calc(var(--textSize) * 0.531441);
}
#Archive header div:nth-child(1) a {
    font-size: calc(var(--textSize) * 0.6561);
}
#Archive main table {
    display: block;
}
#Archive main table thead {
    display: none;
}
#Archive main table tbody {
    height: calc(var(--main-height) * 1);
    display: block;
    overflow: auto;
    scrollbar-width: none;
}
#Archive main table tbody tr {
    display: block;
    margin: calc(var(--height) / 50) calc(var(--width) * 0);
}
#Archive main table tbody tr td {
    display: flex;
    font-size: calc(var(--textSize) * 0.531441);
    margin: calc(var(--height) / 100) calc(var(--width) * 0);
}
#Archive main table tbody tr td::before {
    width: calc(var(--width) / 4);
}
#Archive main table tbody tr td:nth-child(1)::before {
    content: "Year: ";
}
#Archive main table tbody tr td:nth-child(2)::before {
    content: "Name: ";
}
#Archive main table tbody tr td:nth-child(3)::before {
    content: "Made At: ";
}
#Archive main table tbody tr td:nth-child(4)::before {
    content: "Built With: ";
    margin-top: calc(var(--height) / 50);
    width: calc(var(--width) * 0.24);
}
#Archive main table tbody tr td:nth-child(5)::before {
    content: "Link: ";
}
#Archive main table tbody tr td:nth-child(6)::before {
    content: "Status: ";
}
#Archive main table tbody tr td:nth-child(4) div {
    display: flex;
    width: calc(var(--width) * (3 / 4));
    flex-wrap: wrap;
}
#Archive main table tbody tr td:nth-child(4) div div {
    display: block;
    width: auto;
    margin: calc(var(--height) / 100) calc(var(--width) / 100);
    padding: calc(var(--height) / 100) calc(var(--width) / 100);
    border-radius: calc(var(--height) / 25);
}
