:root {
    --textSize: calc(var(--percentage) * 1.331);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage header #button {
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Homepage header #button a {
    letter-spacing: calc(var(--width) / 1000);
    position: relative;
    padding: calc(var(--height) * 0.02) calc(var(--width) * 0.02);
    font-size: calc(var(--textSize) * 1.1);
    border: calc(var(--height) / 200) solid var(--color3);
    border-radius: calc(var(--height) / 50);
    text-shadow: 0 0 calc(var(--height) * 0.03) var(--color2);
    z-index: 1;
}
#Homepage header #button a:hover {
    border: calc(var(--height) / 200) solid var(--color4);
    box-shadow: 0 0 calc(var(--height) * 0) var(--color2);
}
#Homepage header #button a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--percentage);
    height: var(--percentage);
    z-index: -1;
    border-radius: calc(var(--height) / 50);
}
#Homepage header #button a:hover::before {
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.12) var(--color2);
}
#Homepage header #button a span {
    position: absolute;
    border-radius: calc(var(--height) / 200);
    box-shadow: 0 0 calc(var(--height) * 0.02) var(--color2),
        0 0 calc(var(--height) * 0.04) var(--color2),
        0 0 calc(var(--height) * 0.06) var(--color2),
        0 0 calc(var(--height) * 0.1) var(--color2),
        0 0 calc(var(--height) * 0.2) var(--color2);
}
#Homepage header #button a span:nth-child(1),
#Homepage header #button a span:nth-child(3) {
    width: calc(var(--width) / 25);
    height: calc(var(--height) / 100);
}
#Homepage header #button a:hover span:nth-child(1),
#Homepage header #button a:hover span:nth-child(3) {
    transform: translateX(0);
}
#Homepage header #button a span:nth-child(2),
#Homepage header #button a span:nth-child(4) {
    width: calc(var(--width) / 63);
    height: calc(var(--height) / 40);
}
#Homepage header #button a:hover span:nth-child(2),
#Homepage header #button a:hover span:nth-child(4) {
    transform: translateY(0);
}
#Homepage header #button a span:nth-child(1) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    left: calc(var(--width) / -20);
    transform-origin: left;
}
#Homepage header #button a:hover span:nth-child(1) {
    left: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(3) {
    top: calc((var(--percentage) / 2) - (var(--height) / 200));
    right: calc(var(--width) / -20);
    transform-origin: right;
}
#Homepage header #button a:hover span:nth-child(3) {
    right: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(2) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    top: calc(var(--height) / -25);
    transform-origin: top;
}
#Homepage header #button a:hover span:nth-child(2) {
    top: calc(var(--percentage) / 2);
}
#Homepage header #button a span:nth-child(4) {
    left: calc((var(--percentage) / 2) - (var(--width) / 500));
    bottom: calc(var(--height) / -25);
    transform-origin: bottom;
}
#Homepage header #button a:hover span:nth-child(4) {
    bottom: calc(var(--percentage) / 2);
}
#About header,
#About footer,
#Experience header,
#Experience footer {
    height: calc(var(--height) / 10);
}
#About main,
#Experience main {
    --main-height: calc(var(--height) * 0.8);
    --main-width: var(--width);
    height: var(--main-height);
}
#About footer,
#Experience footer {
    display: flex;
    align-items: center;
}
#About header nav,
#Experience header nav {
    display: flex;
    height: inherit;
}
#About header nav div:nth-child(1),
#Experience header nav div:nth-child(1) {
    display: none;
}
#About header nav div:nth-child(2),
#Experience header nav div:nth-child(2) {
    display: flex;
    height: inherit;
}
#About header nav div:nth-child(2) div,
#Experience header nav div:nth-child(2) div {
    display: flex;
    width: calc(var(--width) / 3);
    align-items: center;
    height: inherit;
    justify-content: center;
}
#About header nav div:nth-child(2) div a,
#Experience header nav div:nth-child(2) div a {
    width: calc(var(--width) / 3.3);
    height: calc(var(--height) / 20);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--height) / 40);
    font-size: calc(var(--textSize) * (20 / 28.345));
}
#About footer div,
#Experience footer div {
    width: calc(var(--width) / 4);
    display: flex;
    justify-content: center;
    height: calc(var(--height) / 15);
}
#About footer div a,
#Experience footer div a {
    font-size: calc(var(--textSize) * 1.518518519);
}
#About main div:nth-child(1) {
    height: calc(var(--main-height) / 4);
}
#About main div:nth-child(2) {
    height: calc(var(--main-height) * 0.75);
    overflow: auto;
}
#About main div:nth-child(1) div {
    display: flex;
    align-items: center;
    width: calc(var(--main-width) * 0.99);
    margin-left: calc(var(--main-width) / 100);
    font-size: calc(var(--textSize) * (20 / 28.345));
}
#About main div:nth-child(1) div:nth-child(1) {
    font-size: calc(var(--textSize) * (20 / 28.345) * 1.9487171);
    height: calc(var(--main-height) / 10);
}
#About main div:nth-child(1) div:nth-child(2),
#About main div:nth-child(1) div:nth-child(3) {
    height: calc(var(--main-height) / 20);
    letter-spacing: calc(var(--main-width) / 500);
}
#About main div:nth-child(1) div:nth-child(3) {
    height: calc(var(--main-height) / 10);
}
#About main div:nth-child(2) p {
    font-size: calc(var(--textSize) * (20 / 28.345));
    letter-spacing: calc(var(--main-width) / 1000);
    margin: calc(var(--main-height) * 0.015) calc(var(--main-width) * 0);
}
#About main div:nth-child(2) p:nth-child(1) {
    margin-top: calc(var(--main-height) * 0);
}
#Experience main div {
}
#Experience main div:nth-child(1) {
    height: calc(var(--main-height) / 4);
}
#Experience main div:nth-child(2) {
}
#Experience main div:nth-child(1) div {
    display: flex;
    align-items: center;
}
#Experience main div:nth-child(1) div:nth-child(1) {
    font-size: calc(var(--textSize) * (40 / 28.345));
    height: calc(var(--main-height) / 10);
}
#Experience main div:nth-child(1) div:nth-child(2),
#Experience main div:nth-child(1) div:nth-child(3) {
    font-size: calc(var(--textSize) * (20 / 28.345));
    height: calc(var(--main-height) / 20);
    letter-spacing: calc(var(--main-width) / 500);
}
#Experience main div:nth-child(1) div:nth-child(3) {
    height: calc(var(--main-height) / 10);
}
#Experience main #experienceBar {
    --experience-bar-height: calc(var(--main-height) * (3 / 4));
    --experience-bar-width: var(--main-width);
    height: var(--experience-bar-height);
    width: var(--experience-bar-width);
    overflow: auto;
}
#Experience main #experienceBar::-webkit-scrollbar {
    display: none;
}
#Experience main #experienceBar div {
    width: var(--experience-bar-width);
    height: auto;
}
#Experience main #experienceBar div:nth-child(5) {
    height: calc(var(--experience-bar-height) / 10);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Experience main #experienceBar div:nth-child(5) a {
    font-size: calc(var(--textSize) * (20 / 28.345));
}
#Experience main #experienceBar div div {
    width: var(--experience-bar-width);
    display: flex;
}
#Experience main #experienceBar div div:nth-child(1) {
    font-size: calc(var(--textSize) * (20 / 28.345));
    height: calc(var(--experience-bar-height) / 10);
    align-items: center;
}
#Experience main #experienceBar div div:nth-child(2) {
    flex-wrap: wrap;
}
#Experience main #experienceBar div div:nth-child(2) div {
    width: var(--experience-bar-width);
}
#Experience main #experienceBar div div:nth-child(2) div:nth-child(1) {
    font-size: calc(var(--textSize) * (20 / 28.345));
    height: calc(var(--experience-bar-height) / 10);
}
#Experience
    main
    #experienceBar
    div:nth-child(1)
    div:nth-child(2)
    div:nth-child(1) {
    font-size: calc(var(--textSize) * (20 / 26.62));
}
#Experience main #experienceBar div div:nth-child(2) div:nth-child(2) {
    height: auto;
}
#Experience main #experienceBar div div:nth-child(2) div:nth-child(2) p {
    font-size: calc(var(--textSize) * (20 / 28.345));
    margin: calc(var(--experience-bar-height) / 50)
        calc(var(--experience-bar-width) * 0);
    letter-spacing: calc(var(--experience-bar-width) / 500);
}
#Experience
    main
    #experienceBar
    div:nth-child(1)
    div:nth-child(2)
    div:nth-child(2)
    p {
    font-size: calc(var(--textSize) * (20 / 25));
}
#Experience main #experienceBar div div:nth-child(2) div:nth-child(3) {
    flex-wrap: wrap;
}
#Experience main #experienceBar div div:nth-child(2) div:nth-child(3) div {
    font-size: calc(var(--textSize) * (15 / 28.345));
    height: calc(var(--experience-bar-height) / 10);
    justify-content: center;
    width: calc(var(--experience-bar-width) / 4);
    margin: calc(var(--experience-bar-height) / 100)
        calc(var(--experience-bar-width) / 100);
    border-radius: calc(var(--experience-bar-height) / 20);
    align-items: center;
}
#Experience
    main
    #experienceBar
    div:nth-child(1)
    div:nth-child(2)
    div:nth-child(3)
    div {
    font-size: calc(var(--textSize) * (15 / 25));
}
